<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Series! {% endblock %}</title>
    <link rel="stylesheet" href="{{ asset("css/app.css") }}">
</head>
<body>
<div class="container">
    <header>
        <h1>Series !</h1>
        {% include('inc/nav.html.twig') %}

    </header>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-success-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <main>{% block main %} {% endblock %}</main>
    <footer>
        &copy; {{ "now"|date("y") }} Series!
        {% include('inc/nav.html.twig') %}
    </footer>
</div>

</body>
</html>